@import "src/styles/var/colors";

.root {
    width: 100%;
    color: $white;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    margin: 8px 0;
    border-radius: 12px;
    cursor: pointer;
    transition: all .15s linear;
}

.timer {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.price {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.bonus {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    padding: 5px 11px;
    border-radius: 80px;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        background: $gradient1;
        font-weight: 700;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        margin-right: 2px;
    }

    svg {
        width: 17px;
        height: 17px;
    }
}

.fulfilled {
    &:global.bg-color-blue {
        background-color: $blue-dark;
        border: 1px solid $blue-dark;

        &:hover {
            background-color: rgba($color: $blue-dark, $alpha: 0.8);
        }
    }

    &:global.bg-color-grey {
        background-color: $grey;
        border: 1px solid $grey;

        &:hover {
            background-color: rgba($color: $grey, $alpha: 0.8);
        }
    }
}

.outline {
    &:global.bg-color-blue {
        background-color: transparent;
        border: 1px solid $blue-dark;

        &:hover {
            background-color: rgba($color: $blue-dark, $alpha: 0.8);
            border-color: darken($blue-dark, 0.2);
        }
    }

    &:global.bg-color-grey {
        background-color: transparent;
        border: 1px solid $grey;

        &:hover {
            background-color: rgba($color: $grey, $alpha: 0.15);
            border-color: darken($grey, 5);
        }
    }
}