$main: #1C1C1D;
$white: #FFFFFF;
$black: #000000;
$grey: #696969;
$purple: #6436E7;
$blue-dark: #438BFA;
$blue: #5AC8FB;
$gradient1: linear-gradient(218.71deg, #00F0FF 10.63%, #FF0ECA 90.97%);
$green: #21C004;
$red: #DC3400;