@import "src/styles/var/colors";

.root {
    background: $gradient1;
    font-weight: 700 !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    margin-right: 2px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;

    img {
        margin-left: 2px;
    }
}