@import "../../styles/var/colors";

.root {
    text-align: center;
    width: 100%;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    margin: 20px auto 8px;
    padding: 0 16px 8px;
    font-size: 16px;
}