@import "src/styles/var/colors";

.root {
    font-size: 14px;
}

.subtitle {
    margin-bottom: 24px;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 12px;

    span {
        color: #438BFA;
    }
}

.text {
    font-weight: 400;
    margin-bottom: 8px;

    span {
        font-weight: 600;
    }
}

.levels {
    color: $grey;
}

.levelLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;

    span {
        &:first-child {
            width: 50%;
        }
    }

    &.levelInfo {
        font-size: 10px;
        margin: 10px 0;
    }
}