@import "src/styles/var/colors";

.root {
    position: relative;
}

.classes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.upload {
    background: rgb(255,198,179);
    background: linear-gradient(90deg, rgba(255,198,179,1) 0%, rgba(255,164,135,1) 33%, rgba(255,131,92,1) 66%, rgba(187,80,45,1) 100%);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;

    .load {
        width: 100%;
        border: 2px dotted $white;
        border-radius: 6px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info {
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .text {
            margin-bottom: 21px;
        }

        .button {
            width: 150px;
            background-color: #562705;
            padding: 6px 10px;
            border-radius: 6px;
            color: $white;
            text-decoration: none;
            text-align: center;
            transition: all .15s linear;

            &:hover {
                background-color: #3b1b04;
            }
        }
    }
}

.history {
    position: relative;
    margin-left: auto;
    width: 75%;
    padding: 6px 10px 6px 10px;
    border-radius: 6px;
    background-color: #562705;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    transition: all .15s linear;
    margin-bottom: 20px;

    .txt {
        color: $white;
        margin-right: 10px;
    }

    .pic {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;

        img {
            transition: all .15s linear;
        }
    }

    &:hover {
        background-color: #3b1b04;

        img {
            transform: translateX(5px);
        }
    }

    .text {
        color: $white;
    }
}

.homeImageContainer {
    width: 100%;

    .homeImage {
        object-fit: scale-down;
    }
}